.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #cfeee2;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Playball', cursive;
    text-shadow: 4px 1px #232931;
    font-size: 5rem;
    color: #010e09;
  }
  
  p {
    font-size: 2rem;
    color: #020e0a;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  footer {
    margin-top: 5%;
    color: #0c0101;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
  
